<div data-register='list'>
  <script type='text/html' data-role='template'>
    <ul>
      <% list.forEach(function(li) { %>
        <li><%=li%></li>
      <% }) %>
    </ul>
  </script>
  <style>
    .list li {
      color: #f00;
    }
  </style>
  <link rel="stylesheet" href="demo.css">
  <script>
    console.log('This message comes from list.html.')
  </script>
  <script data-run='template-updated'>
    console.log(this, this === webcom);
    console.log('template-updated.');
  </script>
  <script src='demo.js'></script>
</div>
<div data-register='list2'>
  <p>
    hello list2!
  </p>
</div>
