.ui-radio {
  transition: all .5s;
  height: 1em;
  width: 1em;
  background-image: none;
  display: inline-block;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  border: solid .2em #ccc;
  border-radius: 50%;
  outline: none !important;
  position: relative;
  box-sizing: content-box;
  margin: 3px;
}
.ui-radio:checked {
  border: solid .2em #34b93d;
}
.ui-radio:before {
  transition: all .5s;
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  display: block;
  border-radius: 100%;
  left: 25%;
  top: 25%;
}
.ui-radio:checked:before {
  background-color: #34b93d;
}
