@charset "UTF-8";

.form-group.inline {
	padding-left: 5em;
}

.form-group.inline .control-label {
	position: absolute;
	left: 0;
	width: 5em;
	padding-top: 7px;
	text-align: center;
}

.has-error span {
	color: #a94442;
}
