	.loading-page{
	height: 100%;
background-color: #ccc;
z-index: 99999;
position: fixed;
width: 100%;
}
.loading-page:before {
content: "";
background-image: url(http://img01.taobaocdn.com/imgextra/i1/776955218/TB2DcBacXXXXXaiXpXXXXXXXXXX_!!776955218.gif);
height: 40px;
width: 40px;
position: absolute;
background-size: 100%;
left: 50%;
top: 50%;
margin: -40px -20px;
}
.loading-page:after{
content: "页面加载中";
display: block;
position: absolute;
left: 50%;
top: 50%;
width: 200px;
text-align: center;
margin-left: -100px;
margin-top: 10px;
text-shadow: none;
}