@CHARSET "UTF-8";
.tabs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
}
.tabs-list:after {
  content: "";
  display: table;
  clear: both;
}
.tabs-list li {
  float: left;
  text-align: center;
  padding: .5em 0;
  cursor: pointer;
}
.tabs-list li.active {
  color: #B41800;
}
.tabs-nav {
  position: relative;
}
.tabs-nav .line {
  width: 100%;
  position: absolute;
  height: 2px;
  bottom: 3px;
}
.tabs-nav .line span {
  width: 4em;
  height: 100%;
  position: absolute;
  left: 39px;
  transition: all .5s;
}
.tabs-nav .line span:after {
  content: '';
  width: 5em;
  display: block;
  background-color: #B41800;
  height: 100%;
  margin: auto;
}
