@CHARSET "UTF-8";

.tabs-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tabs-list:after {
	content: "";
	display: table;
	clear: both;
}

.tabs-list li {
	display: block;
	width: 50%;
	float: left;
	text-align: center;
	border-bottom: solid 1px #EA6644;
	box-sizing: border-box;
	position: relative;
	padding: .5em 0;
	cursor: pointer;
}

.tabs-list li.active {
	color: #EA6644;
	border-bottom: solid 1px #EA6644;
}

.tabs-list li.active:before {
content: "";
display: block;
position: absolute;
margin-left: -5px;
left: 50%;
bottom: -9px;
border: solid 5px;
border-color: #FFFFFF transparent transparent;
z-index: 3;
}

.tabs-list li.active:after {
	content: "";
	display: block;
	position: absolute;
	margin-left: -5px;
	left: 50%;
	bottom: -10px;
	border: solid 5px;
	border-color: #EA6644 transparent transparent;
}