<!DOCTYPE html>
<html>
<head>
  <title>demo</title>
  <meta charset='utf-8'>
</head>
<body>
<div id="t1"></div>
<script type="text/javascript" src="template.delegate.js"></script>
<script type="text/html" id="tmpl" data-holder="#t1" data-role='template'>
  <% obj.forEach(function(d){ %>
    <p><%=d%></p>
  <% }) %>
</script>

<script type="text/javascript">

  window.addEventListener('load', function() {
    var tmpl = document.querySelector('#tmpl')
    tmpl._updateBy(["a", "b", "c"]);

    tmpl._appendBy(['dd', 'ee']);

    console.log(tmpl._htmlBy(['a', 'b']))
  });

</script>
</body>
</html>
