<!DOCTYPE html>
<html>
<head>
  <title>demo</title>
  <meta charset='utf-8'>
</head>
<body>
<div id="t1"></div>
<script type="text/javascript" src="template.js"></script>
<script type="text/html" id="tmpl" data-holder="#t1" data-role='template'>
  <% obj.forEach(function(d){ %>
    <p><%=d%></p>
    <p class='a' data-b="b"><%='a' + "b" + '"' + "'" %></p>
    // Comments
    /* Comments
       MultiLines
     */
    <!-- Comments
      MultiLines
    -->
  <% }) %>
  <% print("<h1>\"hi, ouput by push\"</h1>"), print("<h2 class='h2-class'>h2</h2>") %>
</script>

<script type="text/javascript">

  window.addEventListener('load', function() {

    var tmpl = document.querySelector('#tmpl')

    /* 更新指定元素 */
    tmpl._updateBy(["a", "b", "c"]);

    /* 更新指定元素，在原有基础上进行添加*/
    tmpl._appendBy(['dd', 'ee']);

    /* 直接输出html，不进行元素修改操作 */
    console.log(tmpl._htmlBy(['a', 'b']))
  });

</script>
</body>
</html>
