<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>views</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <style>
      [data-role=view] {
        display: none;
      }
      .control {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 2;
      }
    </style>
  </head>
  <body>

    <div class="control">
      <button onclick="VIEWSCONTROL.prev()">prev</button>
      <button onclick="VIEWSCONTROL.next()">next</button>
      <button onclick="VIEWSCONTROL.to('#view3')">Skip to view3</button>
    </div>

    <div data-role="view" id='view1'>
      <p>view1</p>
      <p>This is default view. You can specify it by <b>hash</b> OR <b>data-default=true</b>. <br /> Example: visit this page by:<a href='#view2'>#view2</a>.</p>
      <p>You can change next view dynamicly. <button onclick="view1.setAttribute('data-next', '#view5'); VIEWSCONTROL.next();">Change next view to #view5</button></p>
    </div>

    <div data-role="view" id='view2' data-next='#view4'>
      <p>view2</p>
    </div>

    <div data-role="view" id='view3' data-prev='#view1' data-default='true'>
      <p>view3</p>
    </div>

    <div data-role="view" id='view4'>
      <p>view4</p>
    </div>

    <div data-role="view" id='view5'>
      <p>view5</p>
    </div>

    <script src='./views.es6.js'></script>
  </body>
</html>
