*,*:before,*:after {
    box-sizing: border-box;
}
html, body {
  font-family: '方正正纤黑简体', 'FZLTXHJW--GB1-0', 'Microsoft YaHei', sans-serif;
}
body {
  margin: 0;
  background-color: #F4F4F4
}
h1, h2, h3, h4, h5, h6, p, a, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none
}
a {
  -webkit-tap-highlight-color: transparent
}
img {
  max-width: 100%;
}
