.formValidator-invalid {
  outline: none !important;
  border-color: #a94442;
  border-width: 1px;
  border-style: solid;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.formValidator-valid {
  outline: none !important;
  border-color: #3c763d;
  border-width: 1px;
  border-style: solid;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
