.pull-container{
	width:100%;
	position: relative;
}
.pull-wrapper{
	position: absolute;
	width: 100%;
}

/*下拉加载样式*/
.pull-down-fresher{
	position: absolute;
width: 50%;
left: 25%;
height: 800px;
top: -800px;
background-color: rgba(0, 0, 0, 0.3);
border-radius: 2em;
color: #fff;
font-weight: bold;
z-index: -1;
}
.pull-down-fresher:before,
.pull-down-fresher:after
{
	content: "";
	display: block;
	position: absolute;
	bottom: 20px;
	height: 20px;
	width: 20px;
	left: 50%;
}
.pull-down-fresher:before{
	margin-left: -60px;
	background-image: url(../pull/scroll-down.png);
	background-size: 100%;
	transition: transform 1s;
	-webkit-transition: -webkit-transform 1s;
}
.pull-down-fresher:after{
	width: 50%;
	content:"下拉刷新";
	margin-left: -30px;
}
.pull-down-fresher.tip,
.pull-down-fresher.ready,
.pull-down-fresher.loading{
	z-index: 99;
}
.pull-down-fresher.tip:before{
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}
.pull-down-fresher.tip:after{
	content: "下拉刷新";
}

.pull-down-fresher.ready:before{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.pull-down-fresher.ready:after{
	content: "释放以更新";
}

.pull-down-fresher.loading:before{
	background-image: url(http://img01.taobaocdn.com/imgextra/i1/776955218/TB2DcBacXXXXXaiXpXXXXXXXXXX_!!776955218.gif);
}
.pull-down-fresher.loading:after{
	content: "加载中";
}

/*上拉加载*/
.pull-up-loader{
	position: relative;
	height: 40px;
padding: 10px;
}
.pull-up-loader:before,
.pull-up-loader:before{
	display: block;
	height: 20px;
	width: 20px;
	background-color: #f0f;
	position: absolute;
}
.pull-up-loader:before{
	content: "";
	left: 50%;
	margin-left: -60px;
	background: url(http://img01.taobaocdn.com/imgextra/i1/776955218/TB2DcBacXXXXXaiXpXXXXXXXXXX_!!776955218.gif);
	background-size: 100%;
}
.pull-up-loader:after{
	content: "加载中";
	position: absolute;
	width: 50%;
	left: 50%;
	top: 10px;
	margin-left: -24px;
}
